.icon
{
 padding: 10px;
}
.icon:hover
{
 filter: brightness(80%);
}
.gmailIcon
{
 margin-left: 10px;
}
.phoneIcon
{
 margin-top: 13px;
 padding: 0px;
}
.linkedinIcon
{
 padding: 0px;
 margin-top: 10px;
}