body
{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('bgPhoto.jpg');
    color: lightgray;
}
h1
{
    font-family: Cursive;
    text-align: center;
}
.buttons
{
    text-align: right;
    margin-right: 2rem;
}
.mainContent
{
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
    padding-bottom: 10px;
    padding-top: 10px;
}
.contact
{
    font-family: Cursive;
    padding-top: 10px;
}

/**********Gmail Modal************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: grey;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 0px solid white;
    width: 50%; /* Could be more or less, depending on screen size */
    font-family: Cursive;
    color: white;
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /**********phoneNumber Modal************/

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: grey;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 0px solid white;
    width: 50%; /* Could be more or less, depending on screen size */
    font-family: Cursive;
    color: white;
  }
  
  /* The Close Button */
  .closeTwo {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeTwo:hover,
  .closeTwo:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/****** popups ******/

#popupFb 
{
    display:none;
    font-family: Cursive;
}

#popupGmail
{
    display:none;
    font-family: Cursive;
}

#popupPhone
{
    display:none;
    font-family: Cursive;
}
#popupLinkedin
{
    display:none;
    font-family: Cursive;
}